.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    grid-auto-rows: minmax(100px, auto);
    align-items: stretch;
}

.title{
    grid-column: 1/4;
    box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
    margin: 10px;
    text-align: center;
}

.formShow{
    grid-row: 2/4;
    box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
    margin: 10px;
    text-align: center;
    
}

table{
    margin: 0 auto;
}

.formUpdate{
    grid-column: 2/4;
    box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
    margin: 10px;
}

.container > :hover{
    border: 1px solid #f1c40f;
}

.formInsert, .formDelete{
    box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
    
    margin: 10px;

}

/* h1{
    text-align: center;
}
.formInsert, .formUpdate, .formDelete{
    display: flex;
    justify-content: center;
    box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
    margin: 20px;
}

input{
    margin: 30px;
}


.formShow{
    box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
} */