/* ---------Fuente  ---------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* ***** Variables ***** */
:root{
    /* ***** Colores ***** */
    --color-transparent: transparent;
    --color-white-light: #ffffff; 
    --color-white-dark: #f1f1f1;
    --color-gray-light: #c8c8c8;
    --color-gray-dark: #6c6c6c; 
    --color-black-light: #313337; 
    --color-black-dark: #1b1b1b;
    /* ***** Tipografía ***** */
    --small-font:18px;
    --normal-font: 20px;
    --big-font: 40px;
    /* ***** Espaciado ***** */
    --space-0: 0;
    --space-1: 10px;
    --space-2: 20px;

    /* ***** Border ***** */
    --border-1: 1px;
}

body{
    margin: var(--space-0);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-white-dark)
    
}
.container{
    display: flex;
    width:90%;
    margin:auto;
    

    /* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

.title{
    width: 100%;
}


.divShow{
    flex:1 1 50%;
    box-shadow: 0 10px 20px 0 rgba(80, 85, 223, .37); /* SOmbrea de la caje */
    margin: var(--space-2) var(--space-0);
}
.formShow{
    padding: var(--space-2);
}

.formsActions{
    display: flex;
    flex-direction: column;
    flex:1 1 50%;
}

.formInsert, .formDelete, .formUpdate{
    padding: var(--space-2);
    box-shadow: 0 10px 20px 0 rgba(80, 85, 223, .37); /* Sombrea de la caje */
    margin: var(--space-1);
}

input[type="text"]{ /* Este estilo toma todos los input de tipo text y email*/
    width: 45%;
    margin-bottom: var(--space-2);
    padding: var(--space-2) var(--space-0);
    border: var(--space-0);
    border-bottom: 1px solid var(--color-gray-light);
    font-size: var(--small-font);
    background-color: var(--color-transparent);
}

input[type="text"]:focus, select:focus, textarea:focus{ 
    border-bottom: 1px solid var(--color-black-dark); 
    
}

select{
    width: 45%;
    margin-bottom: var(--space-2);
    padding: var(--space-2) var(--space-0);
    border: var(--space-0);
    border-bottom: 1px solid var(--color-gray-light);
    font-size: var(--small-font);
    background-color: var(--color-transparent);

    -moz-appearance: none;
    -webkit-appearance: none;
}

 textarea {
    width: 100%;
    margin-bottom: var(--space-2);
    padding: var(--space-2) var(--space-0);
    border: var(--space-0);
    border-bottom: 1px solid #c8c8c8;
    font-size: var(--small-font);
    background-color: var(--color-transparent);
    height: 50px;
} 

.row{
    display: flex;
    justify-content: space-between;
}

input[type="submit"]{
    height: 50px;
    color: var(--color-white-light);
    background-color: var(--color-black-dark);
    border: 1px solid var(--color-black-dark);
    padding: var(--space-1) var(--space-2);
    /* Centrar*/
    display: block;
    margin: auto;
    border-radius: 5px;
    font-size: var(--small-font);
}

input[type="submit"]:hover{
    color: black;
    background-color: var(--color-gray-dark);
    border: 1px solid var(--color-black-dark);
    cursor: pointer;
    
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--color-gray-light);
    text-align: left;
    padding: var(--space-1);
}

tr:nth-child(even) {
    background-color: var(--color-gray-light);
}

tr:hover {
    background-color: var(--color-gray-dark);
}

.headboard{
    background-color: var(--color-gray-dark);
}