/* ---------Fuente  ---------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}
.container{
    display: flex;
    width:90%;
    margin:auto;
    

    /* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

.title{
    width: 100%;
}


.divShow{
    flex:1 1 50%;
    box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37); /* SOmbrea de la caje */
    margin: 20px 0;
}
.formShow{
    padding: 20px;
}

.formsActions{
    display: flex;
    flex-direction: column;
    flex:1 1 50%;
}

.formInsert, .formDelete, .formUpdate{
    padding: 20px;
    box-shadow: 0 10px 20px 0 rgba(80, 85, 223, .37); /* SOmbrea de la caje */
    margin: 10px;
}

input[type="text"]{ /* Este estilo toma todos los input de tipo text y email*/
    width: 45%;
    margin-bottom: 20px;
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid #c8c8c8;
    font-size: 18px;
    background-color: transparent;
}

input[type="text"]:focus, select:focus, textarea:focus{ /* Este estilo toma todos los input de tipo text y email*/
    border-bottom: 1px solid #1b1b1b; 
    
}

select{
    width: 45%;
    margin-bottom: 20px;
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid #c8c8c8;
    font-size: 18px;
    background-color: transparent;

    -moz-appearance: none;
    -webkit-appearance: none;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid #c8c8c8;
    font-size: 18px;
    background-color: transparent;
    height: 50px;
}



.row{
    display: flex;
    justify-content: space-between;
}

input[type="submit"]{
    height: 50px;
    color: white;
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b;
    padding: 10px 20px;
    /* Centrar*/
    display: block;
    margin: auto;
    border-radius: 5px;
    font-size: 18px;
}

input[type="submit"]:hover{
    color: black;
    background-color: #6c6c6c;
    border: 1px solid #1b1b1b;
    cursor: pointer;
    
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #c8c8c8;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #c8c8c8;
}

tr:hover {
    background-color: #6c6c6c;
}

.headboard{
    background-color: #6c6c6c;
}