body{
    margin: 0;
    background-color: #f1f1f1;
}
.container{
    display: flex;
    width:90%;
    margin:auto;
    

    /* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

.title{
    width: 100%;
}


.divShow{
    flex:1 1 50%;
    box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37); /* SOmbrea de la caje */
    margin: 20px 0;
}
.formShow{
    padding: 25px;
}

.formsActions{
    display: flex;
    flex-direction: column;
    flex:1 1 50%;
}

.formInsert, .formDelete, .formUpdate{
    padding: 25px;
    box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37); /* SOmbrea de la caje */
    margin: 20px;
}

input[type="text"]{ /* Este estilo toma todos los input de tipo text y email*/
    width: 45%;
    margin-bottom: 15px;
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #323232;
    font-size: 17px;
    background-color: transparent;
}

select{
    width: 45%;
    margin-bottom: 20px;
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #323232;
    font-size: 17px;
    background-color: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type="text"]:focus, select:focus, textarea:focus{ /* Este estilo toma todos los input de tipo text y email*/
    border-bottom: 1px solid black; 
    
}

.row{
    display: flex;
    justify-content: space-between;
}

input[type="submit"]{
    height: 50px;
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 10px 20px;
    /* Centrar*/
    display: block;
    margin: auto;
    border-radius: 5px;
}

input[type="submit"]:hover{
    color: black;
    background-color: gray;
    border: 1px solid black;
    cursor: pointer;
}

textarea {
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #323232;  
    font-size: 17px;
    margin-bottom: 20px;
    width: 100%; 
    background-color: transparent;
    height: 50px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #c8c8c8;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: gray;
}

.headboard{
    background-color: gray;
}